
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<html>
<head>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">

                <ul class="no-bullets">
                    <li>
                        <a href="#" class="acss">Page1</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Page2</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Page3</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Page4</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Page5</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-11">
               <h2>Page is under construction</h2>
            </div>
        </div>
        @*<div class="row">
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        </div>*@
    </div>

</body>
</html>