@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>Admin Index Page</h1>*@

<html>
<head>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
               
                <ul class="no-bullets">
                    <li>
                        <a href="#" class="acss">Pages</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Services</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Board Stocks</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Galleries</a>
                    </li>
                    <li>
                        <a href="#" class="acss">Content Block</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
               <h2>Page is under construction</h2>
            </div>
        </div>
        @*<div class="row">
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        </div>*@
    </div>

</body>
</html>