@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To CUTWRIGHTS Portal Today!</h1>
    <h2>Exclusive for CutWrights Admin/Office/Workshop Employees.</h2>
    <p> Login... </p>
</div>
